/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@media screen and (max-width: 920px){
    #functionality ,#analyse{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    #functionality > div:first-child ,#analyse > div:first-child{
        margin-bottom: .7rem;
    }
}
@media screen and (max-width: 700px){
    .footer .footer-top, .footer .footer-bot{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        text-align: center;
    }
    .footer .social-red{
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    footer .contact{
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}